<% title="Reset Password - Zendo Admin" %>

    <div class="flex min-h-screen w-screen flex-col items-center justify-center sm:bg-gray-50 p-4">
        <div class="w-full max-w-lg rounded-none shadow-none border-none sm:rounded-lg sm:shadow-lg bg-white">
            <div class="text-center p-6">
                <img src="/images/logo.png" alt="zendo-logo" class="mx-auto mb-2 h-16 w-16 rounded-full" />
                <h2 class="text-2xl font-semibold">Reset Password</h2>
                <p class="text-gray-600 mt-1">Create a new password</p>
            </div>

            <!-- Reset Password Form -->
            <div class="p-6 pt-0">
                <form id="resetPasswordForm" action="/auth/reset-password" method="POST" class="space-y-4">
                    <!-- Hidden field to hold the email -->
                    <input type="hidden" name="email" value="<%= email %>" />

                    <input type="password" name="password" id="new-password" placeholder="New Password" required
                        class="w-full px-3 py-2 mt-1 rounded border border-gray-300 shadow-none focus:outline-none" />

                    <input type="password" name="confirmPassword" id="confirm-password" placeholder="Confirm Password"
                        required
                        class="w-full px-3 py-2 mt-1 rounded border border-gray-300 shadow-none focus:outline-none" />

                    <!-- Display error message if exists -->
                    <% if (message) { %>
                        <div class="text-sm text-red-500">
                            <%= message %>
                        </div>
                        <% } %>

                            <button type="submit" id="submitBtn"
                                class="cursor-pointer w-full py-2 bg-black text-white rounded hover:bg-gray-900">
                                <span id="btnText">Reset Password</span>
                                <span id="loadingText" class="hidden">Reseting...</span>
                            </button>
                </form>
            </div>
        </div>
    </div>