<% title="Dashboard - Zendo Admin" %>

    <div class="p-4">
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
            <!-- User Management -->
            <div class="flex flex-col items-center justify-center rounded text-center shadow-sm bg-white">
                <a href="/user-profiles"
                    class="py-10 w-full flex justify-center items-center transition duration-200 hover:scale-110 bg-transparent rounded-t">
                    <i class="fas fa-user text-4xl"></i>
                </a>
                <div class="py-2 bg-gray-200 w-full rounded-b">
                    <h2 class="text-sm font-medium">User Management</h2>
                </div>
            </div>

            <!-- Content Management -->
            <div class="flex flex-col items-center justify-center rounded text-center shadow-sm bg-white">
                <a href="/content-management"
                    class="py-10 w-full flex justify-center items-center transition duration-200 hover:scale-110 bg-transparent rounded-t">
                    <i class="fas fa-file-alt text-4xl"></i>
                </a>
                <div class="py-2 bg-gray-200 w-full rounded-b">
                    <h2 class="text-sm font-medium">Content Management</h2>
                </div>
            </div>

            <!-- AI Rendering Oversight -->
            <div class="flex flex-col items-center justify-center rounded text-center shadow-sm bg-white">
                <a href="/ai/rendering/image"
                    class="py-10 w-full flex justify-center items-center transition duration-200 hover:scale-110 bg-transparent rounded-t">
                    <i class="fas fa-cog text-4xl"></i>
                </a>
                <div class="py-2 bg-gray-200 w-full rounded-b">
                    <h2 class="text-sm font-medium">AI Rendering Oversight</h2>
                </div>
            </div>

            <!-- Customer Support -->
            <div class="flex flex-col items-center justify-center rounded text-center shadow-sm bg-white">
                <a href="/customer-support"
                    class="py-10 w-full flex justify-center items-center transition duration-200 hover:scale-110 bg-transparent rounded-t">
                    <i class="fas fa-headset text-4xl"></i>
                </a>
                <div class="py-2 bg-gray-200 w-full rounded-b">
                    <h2 class="text-sm font-medium">Customer Support</h2>
                </div>
            </div>

            <!-- Security and Payments -->
            <div class="flex flex-col items-center justify-center rounded text-center shadow-sm bg-white">
                <a href="/transactions"
                    class="py-10 w-full flex justify-center items-center transition duration-200 hover:scale-110 bg-transparent rounded-t">
                    <i class="fas fa-credit-card text-4xl"></i>
                </a>
                <div class="py-2 bg-gray-200 w-full rounded-b">
                    <h2 class="text-sm font-medium">Security and Payments</h2>
                </div>
            </div>
        </div>
    </div>